// Custom styles
header{
  margin-bottom: 10rem;
}

nav{
  display: flex;
  flex-direction: row;
}
.navbar-default{
  background-color: white;
  border-color: white;
}
nav li{
  display: inline-block !important;
}
main{
  position: relative;
  bottom:5rem;
}
#brand{
  margin: 0 auto;
}
h1{
  text-align: center;
  margin-bottom: 3rem;
}
img#logo{
  border: 2px solid;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 350px;
}
form{
  width: 50%;
  margin: 0 auto;
}
#alert{
  display: none;
}
.form-control{
  margin-bottom: 1rem;
}
form h3{
  text-align: center;
}
form p{
  text-align: center;
}
.btn-primary{
  margin-top: 2rem;
  border-color: purple !important;
  background-color: purple !important;
  color: white;
}
p.thank-you strong{
  font-weight: 200;
  font-size: 3rem;
  text-align: center;

}
p.thank-you{
  font-weight: 100;
  font-size: 2rem;
  text-align: center;

}
footer{
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: purple;
  text-align: center;
  position: absolute;
  bottom: 0vh;
}
span.text-muted{
  color: white;
}
@media (max-width: 576px) {
  li a{
    font-size: .9rem;
  }
  form{
    width: 100% !important;
  }
  .form-control{
    margin-bottom: 2rem;
  }
  .form-confirm{
    margin-bottom: -0.8rem !important;
  }
  form p{
    font-size: .9rem;
  }
  .nav a {
    padding: 5px 10px !important;
  }
}
